use flake

export PGUSER=$USER
export PGPASSWORD=password
export PGPORT=5433
export PGHOST=localhost

export POSTGRESQL_DATABASE_URL=postgresql://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/temporal-entity-development

export MYSQL_USER=$USER
export MYSQL_PASSWORD=password
export MYSQL_PORT=3307
export MYSQL_HOST=127.0.0.1
export MYSQL_DATABASE=temporal-entity-development
export MYSQL_DATABASE_URL=mysql2://$MYSQL_USER:$MYSQL_PASSWORD@$MYSQL_HOST:$MYSQL_PORT/$MYSQL_DATABASE

export DATABASE_URL=$MYSQL_DATABASE_URL
