use flake

export PGUSER=$USER
export PGPASSWORD=password
export PGPORT=5433
export PGHOST=localhost

export DATABASE_URL=postgresql://$PGUSER:$PGPASSWORD@$PGHOST:$PGPORT/active-temporal-entity-development
